<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Guide2Mel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hh100-sm hh50-sm">
        <div class="container-fluid m0 p0">
            <div class="navbar-header ml0 mr0">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand p0 hh100-sm hh50-sm" href="/">Guide2Melbourne</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav m0">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Content 1", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content mt100-sm mt50-xs plr0">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Powered By ASP.NET MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
